.olPopupCloseBox {
    background: transparent url(../../../images/close-button.png) no-repeat scroll 0 0 ! important;
}

.olControlAttribution {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    background: rgba(0, 60, 136, 0.3);
    padding: 2px 4px;
}
